body {
  background: #F8F5EC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  font-family: 'Lato', sans-serif;
  margin: 15px;
  padding: 10px;
  font-size: 16px;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 3em;
  margin: auto;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 2.75em;
  margin: auto;
  display: block;
  margin-bottom: 40px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  color: #666666;
  text-transform: uppercase;
  margin-top: 10px;
}

.line {
  width: auto;
  border-bottom: 3px solid #FF8A80;
  margin-bottom: 30px;
}

nav {
  width: 100%;
  display: inline-block;
  padding: 20px 0;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
}

li {
  text-decoration: none;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

a:hover {
  color: #FF8A80;
}

#menu_trigger {
  display: none;
}

#pictextholder {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about {
  margin: 10px;
  padding: 20px;
}

.me {
  max-width: 40%;
  margin: 20px;
  margin-top: 40px;
}

.graphic {
  max-width: 70%;
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.download {
  margin-bottom: 30px;
}

#graphicscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 65%;
}

#resumecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume {
  max-width: 70%;
  border: 5px solid grey;
  margin-top: 20px;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@media screen and (max-width: 800px) {

  #pictextholder {
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width: 699px) {

  body {
    margin-left: 10px;
    margin-right: 10px;
  }

  ul {
    flex-direction: column;
  }

  #header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #menu_trigger {
    display: block;
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 30px;
    background-color: white;
    border: none;
  }

  #menu_trigger:hover {
    background-color: #FF8A80;

  }

  #menu_nav {
    display: none;
  }

  .graphic {
    max-width: 100%;
  }

  .me {
    width: 80%;
    margin: 0px;
    margin-top: 0px;
  }

  #graphicscontainer {
    max-width: 90%;
  }

}
